.HomeMain {
    height: 32rem;
    overflow-y: scroll;
    padding-inline: 100px;
    margin-top: 60px;
}

.HomeBox {
    width: 80%;
    margin: auto;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--boxShadow);
    padding: 20px;
    margin-bottom: 25px;
    overflow: hidden;
}

.subdivhead {
    color: rgb(130, 130, 130);
    font-weight: 500;
    font-size: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.HomeBox p {
    font-size: 18px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.HomeBox .HomeBox_Icon {
    margin-inline: 5px;
    font-size: 30px;
    color: var(--main);
}

.subdiv1{
    display: contents;
}

.subdiv2{
    display: contents;
}
.subsubdiv2{
    display: flex;
    align-items: center;
    gap: 10px;
}

@media screen and (max-width:768px) 
{

    .HomeMain {
        height: 32rem;
        overflow-y: scroll;
        padding-inline: 10px;
        margin-top: 60px;
    } 
    
    .HomeBox {
        width: 100%;
        margin: auto;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: var(--boxShadow);
        padding: 20px;
        margin-bottom: 25px;
        overflow: hidden;
    }

    .subdiv1{
        display: flex;
        flex-direction: column;
    }
    
}

